section {
    display: flex;
    flex-direction: column;
    max-width: 60em;
    margin: auto;
}

section img {
    display: block;
    max-height: 30em;
    width: auto;
    margin: auto;
    flex: 1;
    max-width: 100%;
}


.download-links {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding-block: 1em;
}

.download-links a span {
    background-color: var(--color-dark);
    padding: 0.5em;
    border-radius: 0.25em;
}

.description {

}