section {
    display: flex;
    flex-direction: column;
    max-width: 60em;
    margin: auto;
}

section img {
    display: block;
    max-height: 30em;
    width: auto;
    margin: auto;
    flex: 1;
    max-width: 100%;
}


.download-links {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding-block: 1em;
}

.download-links a span {
    background-color: var(--color-dark);
    padding: 0.5em;
    border-radius: 0.25em;
}

p {
    margin-bottom: 1em;
}

iframe {
    display: block;
    margin: auto;
}

.description iframe {
    margin: 0 auto 2em;
}

.image-reel {
    margin: 1em 0;
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
    align-items: center;
}

.image-reel img {
    max-height: 16em;
    margin: auto;
    flex: 0;
}

h4 {
    margin-top: 4em;
    text-align: center;
    font-size: 1.25em;
}